<!-- Section: Design Block -->
<br>
<br>

<section class="background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          Welcome to <br />
          <span style="color: hsl(218, 81%, 75%)">CROP-SURVEY</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          The survey will collect information on different types of crops sown by farmers in their fields. The
          information will be collected through an automated process by using “Geo-Referenced maps” of the farmland
          plots and remote sensing images.
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form #registerForm="ngForm" (ngSubmit)="registerForm.form.valid  &&  onSubmit()">

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example1"><strong>Name</strong></label>
                    <input type="text" id="form3Example1" class="form-control" [(ngModel)]="user.name"
                      [ngModelOptions]="{standalone: true}" />

                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example2"><strong>Contact Number</strong></label>
                    <input type="text" id="form3Example1" name="contactNumber" class="form-control"
                      [(ngModel)]="user.contactNumber" [ngModelOptions]="{standalone: false}" #contactNumber="ngModel"
                      maxlength="10" minlength="10" pattern="[0-9()+\- ]{10,20}">

                    <div class="mb10" style="color:red; margin-left: 10px;"
                      *ngIf="contactNumber.touched && contactNumber.errors?.['minlength']">
                      Phone number must be 10 digit
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3"><strong>Email address</strong></label>
                <input type="text" id="form3Example1" name="email" class="form-control" [(ngModel)]="user.email"
                  pattern="[a-zA-Z0-9._-]*@[a-zA-Z]*\.[a-zA-Z]{2,3}" [ngModelOptions]="{standalone: false}"
                  #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

                <div class="mb10" style="color:red; margin-left: 10px;"
                  *ngIf="email.touched && email.errors?.['pattern']">
                  Enter a valid email address
                </div>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4"><strong>Password</strong></label>
                <input type="password" id="form3Example4" class="form-control" [(ngModel)]="user.password"
                  [ngModelOptions]="{standalone: true}" />

              </div>


              <button type="submit" class="btn btn-primary btn-block mb-4">
                Add User
              </button>

             


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>