<br>
<br>
<br>
<br>
<br>
<form [formGroup]="forgetPasswordForm" (ngSubmit)="handleSubmit()" >
<div class="form-outline mb-4">
    <label class="form-label" for="form3Example3"><strong> Email address:</strong></label>
    <input type="email" id="form3Example3" class="form-control" formControlName="email" required
      placeholder="Email" />
    <span class="text-danger"
      *ngIf="forgetPasswordForm.controls['email'].dirty && forgetPasswordForm.hasError('required','email')"> EmailId is
      required</span>
  </div>
  <br>
  <button type="submit"(click)="handleSubmit()" class="btn btn-primary btn-block mb-4">
    sent Password
  </button><br>
</form>