<html>

<body>
    <div class="container">

        <br>
        <br>
        <br>
        <button class="btn btn-info" style="margin-left: 10px" (click)="downloadCsv()">Download CSV FIle</button>&nbsp;
        <button class="btn btn-info" style="margin-left: 10px"><a routerLink="/csv">Upload CSV</a></button>
        <button class="btn btn-info" style="margin-left: 10px"><a routerLink="/cropdata">Add Data</a></button>
        <br><br>

        <!-- <input class="form-control" name="search" [(ngModel)]="searchText" type="text" placeholder="Search.."> 
        -->
        <div class="input-group">
            <input type="search" id="form1" class="form-control" name="search" [(ngModel)]="searchText" type="text"
                placeholder="Search.." />
        </div>
        <br>
        <table class="table table-borderd ">
            <br>
            <thead>
                <tr class="table-dark">
                    <th scope="col">Id</th>

                    <th scope="col">Surveyor Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Remark</th>
                    <th scope="col">State</th>
                    <th scope="col">District</th>
                    <th scope="col">Taluka</th>
                    <th scope="col">Village</th>
                    <th scope="col">Current Latitude</th>
                    <th scope="col">Current Longitude</th>
                    <th scope="col">Surveyed Latitude</th>
                    <th scope="col">Surveyed Longitude</th>
                    <th scope="col">Date</th>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let survey of surveys | filter:searchText | paginate: {
                    itemsPerPage: tableSize,
                    currentPage:page, 
                    totalItems:count}; 
                    let i=index" class="table-info">
                    <td>{{survey.id}}</td>
                    <td>{{survey.name}}</td>

                    <td>{{survey.status}}</td>
                    <td>{{survey.remarks}}</td>
                    <td>{{survey.state}}</td>
                    <td>{{survey.district}}</td>
                    <td>{{survey.taluka}}</td>
                    <td>{{survey.village}}</td>
                    <td>{{survey.cu_latitude}}</td>
                    <td>{{survey.cu_longitude}}</td>
                    <td>{{survey.su_latitude}}</td>
                    <td>{{survey.su_longitude}}</td>
                    <td>{{survey.date}}</td>

                </tr>
            </tbody>
        </table>
        <div class="footer">
            <div class="d-flex justify-content-center">
                <pagination-controls previousLabel="Prev" nextLabel="Next"
                    (pageChange)="onTableDataChange($event)"></pagination-controls>

            </div>
        </div>
    </div>

</body>

</html>
<app-sidebar></app-sidebar>