<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>
    <form [formGroup]="changePasswordForm" (ngSubmit)="handlepasswordChangeSubmit()">
      <mat-card-content>
        <mat-label>Old Password</mat-label>
        <mat-form-field class="example-full-width">

          <input matInput formControlName="oldPassword" required [type]="oldPassword ? 'password':'text'">

        </mat-form-field>
        <mat-label>New Password</mat-label>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="newPassword" required [type]="newPassword ? 'password':'text'">

        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" type="submit" (click)="handlepasswordChangeSubmit()"
        class="btn-block"><strong>Confirm</strong></button> &nbsp;
      <br>
    </form>
  </mat-card>

</div>